* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.app {
	display: flex;
	padding: 0.875rem;
}
img {
	object-fit: contain;
	display: block;
	max-width: 100%;
}
@media screen and (min-width: 920px) {
	.app {
		margin: 0 auto;
		width: 70%;
		border: 1px solid lightgray;
	}
}
